.hero-container
	font-size: 1.2em

	.hero-id,
	.hero-name
		color: #0a6
		font-weight: bold
		text-decoration: underline

	.hero-id
		color: #06a

.my-heroes
	$borderRad: 5px
	$ceramic: #eee
	$dust: #bbb
	$poseidon: #077
	$spacing: .5em

	padding: 0
	width: 15em

	ul
		margin-block-start: 0
		margin-block-end: 0
		margin-inline-start: 0
		margin-inline-end: 0
		padding-inline-start: 0

		li
			background-color: $dust
			border-radius: $borderRad
			line-height: 1em
			list-style-type: none
			margin: $spacing
			vertical-align: middle

			&:hover
				background-color: $poseidon
				color: $ceramic
				cursor: pointer

			.selected
				background-color: #cfd8dc
				color: $ceramic

				&:hover
					background-color: #bbd8dc
					color: $ceramic

	.badge
		background-color:#405061
		// border-radius: 4px 0 0 4px
		border-radius: $borderRad
		color: $ceramic
		display: inline-block
		font-size: .8em
		line-height: 1em
		margin: $spacing
		padding: $spacing
